.settings {
	min-height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	padding: 40px 20px;
}

.settings .container {
	margin: 0 auto;
	width: 100%;
	max-width: 450px;
}

.settings .container .menu {
	margin-top: 25px;
	border-radius: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.settings .container .menu h1 {
	font-size: 14px;
	font-weight: var(--font-regular);
	margin-bottom: -5px;
	color: var(--color-text-muted);
}

.settings .container .menu .item {
	display: flex;
	justify-content: space-between;
	padding: 10px 12px;
	width: 100%;
	border: 1px solid var(--color-border);
	background: #fff;
	border-radius: 5px;
	outline: 0;
	cursor: pointer;
	font-family: inherit;
}

.settings .container .menu .item .left i {
	font-family: inherit;
	margin-right: 5px;
}

.settings .container .menu .item .right {
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
}

.settings .container .menu .item:hover .right {
	margin-right: 2px;
	transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) and (max-width: 1023px) {
	.settings {
		margin-top: 100px;
		padding: 0 25px;
	}
}

@media (max-width: 767px) {
	.settings {
		padding: 24px 16px;
		margin-top: 60px;
	}
}

@media (min-width: 1280px) {
	.settings .container {
		max-width: 500px;
	}
}
